/* General Body Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

/* Main Container */


div {
  background-color: #61f1b8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin-left: 30px;
}

/* Heading */
h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* List Styles */
ul {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}
li:hover{
  background-color: rgb(141, 141, 136);
}

li {
  background-color: #f9f9f9;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Name Styling */
strong {
  font-size: 1.1rem;
  color: blue;
}
#info{
  color: rgb(237, 15, 15);
}


/* Loading Text */
p {
  font-size: 1.2rem;
  color: #555;
  font-weight: bold;
}
